@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Ubuntu+Mono:wght@400;700&display=swap');

@theme {
  --font-sans: "Ubuntu", sans-serif;
  --font-mono: "Ubuntu Mono", monospace;
}

body {
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
  background-color: #2C001E;
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2C2C2C; 
}
 
::-webkit-scrollbar-thumb {
  background: #E95420; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C74215; 
}

.animate-shake {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
